# Port the server will listen on
PORT=5100

# API key (preferably a 24 character random string)
API_KEY=abc123

# Maximum GB of space allowed to be taken up by file uploads
MAX_STORAGE=10

# Upload delettion period (in seconds)
KEEP=86400 # 1 day
